body {
    padding: 0;
    margin: 0;
    font-family: Tahoma;
    font-weight: normal !important;
    overflow: hidden;
    background-color: #16161A;
}

#player {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
}

#content {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 75vw;
    width: 25vw;
    height: 100vh;
    background: white;
    border: solid black;
    border-width: 0 0 0 1px;
    padding-left: 10px;
}

#content>div {
    width: 90%;
}

#demo {
    position: relative;
    margin-top: -94px;
    margin-left: 133px;
}

#arrow, #arrow_down {
    pointer-events: none;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }